<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon aria-hidden="false">menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      
    </mat-toolbar>
</p>
  <div class="container-fluid my-5">
    <div class="row "> <!---->
      <div class="col col-md-6 d-flex flex-rowt">
        
        <button mat-raised-button 
                color="primary" class="mx-3 active-button" 
                [routerLink]="['/dashboard']">Dashboard</button>

        <button mat-raised-button color="primary" 
                [routerLink]="['/hero']">Heroes</button>
      </div>
      <div class="col col-md-6 d-flex flex-row-reverse">
        <app-hero-search></app-hero-search>
      </div>
    </div> 
    <router-outlet></router-outlet>
 </div>
